/host
/build
/venv
/utility/*
/vision_testing/
raspberry/vision_testing/
raspberry/vision_testing/*
raspberry/vision_testing/stereoDepth-master.zip
.idea
workspace.xml
misc.xml
OIT-AUVSIR_RoverSub.iml
*.v2
*.v1
FakeBot/.vs/FakeBot/v17/.suo
*.cache
*.props
*.vsidx
*.lock
*.2
*.editorconfig
*.editorconfig
FakeBot/FakeBot/obj/Debug/net6.0/FakeBot.GeneratedMSBuildEditorConfig.editorconfig
FakeBot/FakeBot/obj/FakeBot.csproj.nuget.dgspec.json
FakeBot/FakeBot/obj/project.assets.json
*.dll
*.exe
*.pdb
FakeBot/FakeBot/obj/Debug/net6.0/_IsIncrementalBuild
FakeBot/FakeBot/bin/Debug/net6.0/FakeBot.runtimeconfig.json
FakeBot/FakeBot/bin/Debug/net6.0/FakeBot.deps.json
FakeBot/FakeBot/obj/Debug/net6.0/FakeBot.csproj.FileListAbsolute.txt
FakeBot/FakeBot/obj/Debug/net6.0/FakeBot.GeneratedMSBuildEditorConfig.editorconfig
*.db
*.db-shm
*.opendb
*.db-wal
*.ipch
*.vcxproj
*.filters
*.user
*.editorconfig
*.editorconfig
FakeBot/FakeBot/obj/Debug/net6.0/FakeBot.GeneratedMSBuildEditorConfig.editorconfig
DAIMU/.vs/DAIMU/v17/.suo
*.obj
*.log
*.tlog
DAIMU/DAIMU/x64/Debug/DAIMU.vcxproj.FileListAbsolute.txt
*.idb
FakeBot/FakeBot/obj/FakeBot.csproj.nuget.dgspec.json
FakeBot/FakeBot/obj/project.assets.json
